.filters {
  &-firstp {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  &-secondp {
    padding-bottom: 16px;
  }
  &-price {
    width: 232px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      text-align: center;
      width: 100px;
      height: 23px;
      background: linear-gradient(
        90deg,
        rgba(255, 198, 80, 0.3) 0%,
        rgba(254, 202, 110, 0.3) 97.25%
      );
      border-radius: 1000px;
    }
  }
  &-brand {
    &-firstp {
      font-size: 16px;
      font-weight: 500;
    }

    &-search {
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      input {
        width: 238px;
        height: 59px;
        background-color: #ededed;
        border-radius: 36px;
        padding-left: 20px;
        font-size: 12px;
      }
      &-circle {
        width: 39px;
        height: 39px;
        background: #ffc85e;
        border-radius: 1000px;
        position: absolute;
        left: 185px;
      }
    }
    &-checkboxes {
      li {
        display: flex;
        align-items: center;
        padding-bottom: 5px;
      }
      &-name {
        padding-left: 10px;
        padding-right: 5px;
      }
      padding-bottom: 15px;
    }
    label {
      display: flex;
      align-items: center;
      img {
        margin-left: 5px;
      }
    }
    &-buttons {
      width: 238px;
      padding-top: 25px;
      padding-bottom: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      button:first-child {
        width: 169px;
        height: 59px;
        background: #ffc85e;
        border-radius: 79px;
        color: white;
      }
      button:last-child {
        width: 59px;
        height: 59px;
        background: #ffc85e;
        border-radius: 79px;
        color: white;
      }
    }
  }
}
